body {
  background-color: orange;
  display: flex;
  height: 100vh;
}

.mobie,
.tablet,
.pc {
  margin: auto;
  font-size: 100px;
  color: #fff;
  display: none;
}

/* Mobie: width < 740px */

/*Tablet: width >= 740px and width <1024px */

/*Pc: width >= 1024px */